{% extends 'base.html.twig' %}

{% block title %}Ajouter des questions{% endblock %}

   {% block stylesheets %}
       {{ parent() }}
       {{ encore_entry_link_tags('questions_css') }}
   {% endblock %}

{% block body %}
    <div class="container">
        <div id="info-quiz">
            <h1 class="title text-center mb-4">Ajoutez des questions à votre quiz</h1>

            <div class="row mx-auto">
                <div class="col">
                    <div class="row"><span class="font-weight-bold">Nom du quiz :</span></div>
                    <div class="row d-inline-block">
                        {{ quiz.intitule|length > 20 ? quiz.intitule|slice(0,20) ~ '...' : quiz.intitule }}
                    </div>
                </div>

                {% if quiz.plageHoraireDebut %}
                    <div class="col">
                        <div class="row"><span class="font-weight-bold">Plage horaire de début :</span></div>
                        <div class="row">{{ quiz.plageHoraireDebut|date("d/m/Y h:i") }}</div>
                    </div>
                    <div class="col">
                        <div class="row"><span class="font-weight-bold">Plage horaire de fin :</span></div>
                        <div class="row">{{ quiz.plageHoraireFin|date("d/m/Y h:i") }}</div>
                    </div>
                {% endif %}

                {% if quiz.cleAcces %}
                    <div class="col">
                        <div class="row"><span class="font-weight-bold">Clé d'accès :</span></div>
                        <div class="row">
                            <span class="code text-primary mr-2">{{ quiz.cleAcces }}</span>
                            <i id="copy" class="far fa-copy my-auto" title="Copier la clé d'accès"></i>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div id="questionsContainer">
            <div class="col text-center">
                <button id="addQuestion" class="btn btn-primary addButton">Ajouter une question</button>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('questions_js') }}
{% endblock %}
