{% extends 'base.html.twig' %}

{% block title %}Créer un quiz
{% endblock %}

{% block body %}
	<h1 class="title text-center">Création d'un quiz</h1>

	{{ form_start(quiz_formulaire) }}

	<div class="text-danger">{{ form_errors(quiz_formulaire.intitule) }}</div>
	{{ form_label(quiz_formulaire.intitule, 'Nom du quiz') }}
	{{ form_widget(quiz_formulaire.intitule, {'label' : 'Nom du quiz', 'attr' : { 'class' : 'form-control'} }) }}

	<div>
		<label class="mt-3">&Eacute;tat du quiz</label>
		{{ form_widget(quiz_formulaire.etat) }}
		{{ form_help(quiz_formulaire.etat, {'help_attr' : { 'class' : 'font-italic'} }) }}
	</div>

	<div class="row mt-3">
		<div class="col-lg-6 ">
			<div class="form-group optional">
				{{ form_label(quiz_formulaire.plageHoraireDebut, 'Plage horaire de début') }}
				<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
					{{ form_widget(quiz_formulaire.plageHoraireDebut) }}
					{# <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
																					<div class="input-group-text">
																						<i class="fa fa-calendar"></i>
																					</div>
																				</div> #}
				</div>
			</div>

		</div>

		<div class="col-lg-6">
			<div class="form-group optional">
				{{ form_label(quiz_formulaire.plageHoraireFin, 'Plage horaire de fin') }}

				<div class="input-group date" id="datetimepicker2" data-target-input="nearest">
					{{ form_widget(quiz_formulaire.plageHoraireFin) }}
					{# <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
																										<div class="input-group-text"><i class="fa fa-calendar"></i></div>
																									</div> #}
				</div>
			</div>
		</div>
	</div>

	{{ form_help(quiz_formulaire.plageHoraireFin, {'help_attr' : { 'class' : 'optional font-italic'} }) }}

	<div class="mt-3 optional text-danger">{{ form_errors(quiz_formulaire.plageHoraireDebut) }}</div>

	{{ form_row(quiz_formulaire.envoyer, {'attr' : { 'class' : 'btn btn-primary mt-3 col-lg-3'} } ) }}

	{{ form_end(quiz_formulaire) }}

	{{ render(controller('App\\Controller\\AccueilController::modal')) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('quiz_js') }}
{% endblock %}
