{% extends 'base.html.twig' %}

{% block title %}Créer un quiz{% endblock %}

{% block body %}
    <h1 class="title text-center">Création un quiz</h1>

    {{ form_start(quiz_formulaire) }}

    {{ form_row(quiz_formulaire.intitule, {'attr' : { 'class' : 'form-control'} }) }}

    <div>
        <label class="mt-2">&Eacute;tat</label>
        {{ form_widget(quiz_formulaire.etat) }}
        {{ form_help(quiz_formulaire.etat, {'attr' : { 'class' : 'font-italic'} }) }}
    </div>

    {{ form_label(quiz_formulaire.plageHoraireDebut, 'Plage horaire de début', {'label_attr': {'class': 'optional d-none'}}) }}
    {{ form_widget(quiz_formulaire.plageHoraireDebut, {'attr' : { 'class' : 'optional d-none'} }) }}

    {{ form_label(quiz_formulaire.plageHoraireFin, 'Plage horaire de fin', {'label_attr': {'class': ' optional d-none'}}) }}
    {{ form_widget(quiz_formulaire.plageHoraireFin, {'attr' : { 'class' : 'optional d-none'} }) }}

    {{ form_label(quiz_formulaire.plageHoraireFin, "Clé d'accès", {'label_attr': {'class': ' optional d-none'}}) }}
    {{ form_widget(quiz_formulaire.cleAcces, {'attr' : { 'class' : 'form-control optional d-none'} }) }}

    {{ form_row(quiz_formulaire.envoyer, {'attr' : { 'class' : 'btn btn-primary mt-3'} } ) }}

    {{ form_end(quiz_formulaire) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('quiz') }}
{% endblock %}
