{% extends 'base.html.twig' %}

{% block title %}Ajouter des questions{% endblock %}

   {% block stylesheets %}
       {{ parent() }}
       {{ encore_entry_link_tags('questions_css') }}
   {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title text-center mb-4">Ajoutez des questions à votre quiz</h1>

        <div class="row mx-auto">
            <div class="col">
                <div class="row"><span class="font-weight-bold">Nom du quiz :</span></div>
                <div class="row d-inline-block">
                    {{ quiz.intitule|length > 20 ? quiz.intitule|slice(0,20) ~ '...' : quiz.intitule }}
                </div>
            </div>

            {% if quiz.plageHoraireDebut %}
            <div class="col">
                <div class="row"><span class="font-weight-bold">Plage horaire de début :</span></div>
                <div class="row">{{ quiz.plageHoraireDebut|date("d/m/Y h:i") }}</div>
            </div>
            <div class="col">
                <div class="row"><span class="font-weight-bold">Plage horaire de fin :</span></div>
                <div class="row">{{ quiz.plageHoraireFin|date("d/m/Y h:i") }}</div>
            </div>
            {% endif %}

            {% if quiz.cleAcces %}
            <div class="col">
                <div class="row"><span class="font-weight-bold">Clé d'accès :</span></div>
                <div class="row"><span class="code text-primary mr-2">{{ quiz.cleAcces }}</span> <i id="copy" class="far fa-copy my-auto"></i></div>
            </div>
            {% endif %}
        </div>

        {# une question #}

        {% for i in 1..11 %}
            {% set questionFormulaire = questionFormObject.createView %}

            {{ form_start(questionFormulaire) }}

            <div class="jumbotron mt-5 p-3">

                <div class="row">
                    <div class="col-2 text-center questionNum">{{ i }}</div>
                    <div class="col my-auto">
                        <div class="row align-middle">{{ form_widget(questionFormulaire.intitule, {'attr' : { 'class' : 'border-0 rounded w-100 mr-4', 'placeholder' : 'Entrez votre question ici'} }) }}</div>
                    </div>
                </div>

                <div class="reponses">
                    {% for j in 1..2 %}
                        {%  set reponseFormulaire = reponseFormObject.createView %}

                        {{ form_start(reponseFormulaire) }}

                        <div class="row mx-auto">
                            <div class="col-10">
                                {{ form_widget(reponseFormulaire.intitule, {'attr' : { 'class' : 'p-4 rounded border-0 w-100 mr-4', 'placeholder' : 'Entrez votre question ici'} }) }}
                            </div>
                            <div class="col-1 crud">
                                <div class="row py-1"><a href=""><i class="fas fa-times"></i></a></div>
                                <div class="row py-1"><a href=""><i class="fas fa-check"></i></a></div>
                                <div class="row py-1"><a href=""><i class="fas fa-edit"></i></a></div>
                            </div>
                        </div>

                        {{ form_end(reponseFormulaire) }}
                    {% endfor %}

                    <div class="addReponse col-10 text-center">
                        <i class="far fa-plus-square"></i>
                    </div>
                </div>

                <div class="col">
                    <div class="row my-2">
                        {{ form_label(questionFormulaire.nbPointsBonneReponse, 'Nombre de points pour une bonne réponse', { 'label_attr' : { 'class' : 'col-4' } }) }}
                        {{ form_widget(questionFormulaire.nbPointsBonneReponse, {'attr' : { 'class' : ''} }) }}
                        <span class="px-2">points</span>
                        {{ form_help(questionFormulaire.nbPointsBonneReponse, {'help_attr' : { 'class' : 'text-success'}}) }}
                    </div>
                    <div class="row my-2">
                        {{ form_label(questionFormulaire.nbPointsMauvaiseReponse, 'Nombre de points pour une mauvaise réponse', { 'label_attr' : { 'class' : 'col-4' } }) }}
                        {{ form_widget(questionFormulaire.nbPointsMauvaiseReponse, {'attr' : { 'class' : ''} }) }}
                        <span class="px-2">points</span>
                        {{ form_help(questionFormulaire.nbPointsMauvaiseReponse, {'help_attr' : { 'class' : 'text-danger'}}) }}
                    </div>
                </div>

                {{ form_row(questionFormulaire.valider, {'attr' : { 'class' : 'btn btn-primary '} }) }}
            </div>

            {{ form_end(questionFormulaire) }}
        {%  endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('questions_js') }}
{% endblock %}
