{% block body %}
	{# debut bloc question #}
	{{ form_start(questionFormulaire) }}

	<input class="js-question-id" type="hidden" name="js-question-id" value="{{ question.id }}">

	<div class="jumbotron mt-5 p-4">

		<div class="row">
			<div class="col-2 text-center questionNum">1</div>
			<div class="col my-auto">
				<div class="row align-middle">{{ form_widget(questionFormulaire.intitule, {'attr' : { 'class' : 'border-0 rounded w-100 mr-4 p-2', 'placeholder' : 'Entrez votre question ici'} }) }}</div>

				{% if questionFormulaire.intitule.vars['errors']|length > 0 %}
					<div class="error_form">
						{% for error in questionFormulaire.intitule.vars['errors'] %}
							<span class="badge badge-danger">{{ error.message }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>

		<div class="reponses" data-prototype="{{ form_row(questionFormulaire.reponses.vars.prototype)|e('html_attr') }}">
			{% for reponse in questionFormulaire.reponses %}
				{{ form_widget(reponse) }}
			{% endfor %}
		</div>

		<div class="col">
			<div class="row my-2">
				{{ form_label(questionFormulaire.nbPointsBonneReponse, 'Nombre de points positif pour une bonne réponse', { 'label_attr' : { 'class' : 'my-auto col-5' } }) }}
				<i id="js-random-point-1" class="random fas fa-random" title="Nombre aléatoire"></i>
				{{ form_widget(questionFormulaire.nbPointsBonneReponse, {'attr' : { 'class' : 'ml-2 col-lg-1'} }) }}
				<span class="px-2 my-auto">points</span>

				{% if questionFormulaire.nbPointsBonneReponse.vars['errors']|length > 0 %}
					<div class="error_form">
						{% for error in questionFormulaire.nbPointsBonneReponse.vars['errors'] %}
							<span class="badge badge-danger">{{ error.message }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div>
			<div class="row my-2">
				{{ form_label(questionFormulaire.nbPointsMauvaiseReponse, 'Nombre de points négatif pour une mauvaise réponse', { 'label_attr' : { 'class' : 'my-auto col-5' } }) }}
				<i id="js-random-point-2" class="random fas fa-random" title="Nombre aléatoire"></i>
				{{ form_widget(questionFormulaire.nbPointsMauvaiseReponse, {'attr' : { 'class' : 'ml-2 col-lg-1'} }) }}
				<span class="px-2 my-auto">points</span>

				{% if questionFormulaire.nbPointsMauvaiseReponse.vars['errors']|length > 0 %}
					<div class="error_form">
						{% for error in questionFormulaire.nbPointsMauvaiseReponse.vars['errors'] %}
							<span class="badge badge-danger">{{ error.message }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>

		<div class="row">
			{{ form_widget(questionFormulaire.valider, {'attr' : { 'class' : 'saveQuestion btn btn-secondary col-lg m-2'} }) }}
			<button type="submit" class="saveQuestion editQuestion btn btn-secondary col-lg m-2" disabled>Modifier la question</button>
			<button type="button" class="deleteQuestion btn btn-danger col-lg m-2" disabled>Supprimer la question</button>
		</div>
		{{ form_end(questionFormulaire) }}
	</div>
	{# fin bloc question #}

{% endblock %}
