{% block body %}

    {# debut bloc question #}
    {{ form_start(questionFormulaire) }}

    <div class="jumbotron mt-5 p-3">

        <div class="errorContainer"></div>

        <div class="row">
            <div class="col-2 text-center questionNum">1</div>
            <div class="col my-auto">
                <div class="row align-middle">{{ form_widget(questionFormulaire.intitule, {'attr' : { 'class' : 'border-0 rounded w-100 mr-4', 'placeholder' : 'Entrez votre question ici'} }) }}</div>
            </div>
        </div>

        <div class="reponses" data-prototype="{{ form_widget(questionFormulaire.reponses.vars.prototype.intitule)|e('html_attr') }}"></div>

        {#                <div class="reponsesContainer">#}
        {#                    {{ form_start(reponseFormulaire) }}#}

        {#                    <div class="row mx-auto">#}
        {#                        <div class="col-10">#}
        {#                            {{ form_widget(reponseFormulaire.intitule, {'attr' : { 'class' : 'p-4 rounded border-0 w-100 mr-4', 'placeholder' : 'Entrez votre question ici'} }) }}#}
        {#                        </div>#}
        {#                        <div class="col-1 crud">#}
        {#                            <div class="row py-1"><a href=""><i class="fas fa-times"></i></a></div>#}
        {#                            <div class="row py-1"><a href=""><i class="fas fa-check"></i></a></div>#}
        {#                            <div class="row py-1"><a href=""><i class="fas fa-edit"></i></a></div>#}
        {#                        </div>#}
        {#                    </div>#}

        {#                    {{ form_end(reponseFormulaire) }}#}
        {#                </div>#}

        {#                <div class="col-10 text-center">#}
        {#                    <i id="addReponse" class="addButton far fa-plus-square" title="Ajouter une réponse"></i>#}
        {#                </div>#}

        <div class="col">
            <div class="row my-2">
                {{ form_label(questionFormulaire.nbPointsBonneReponse, 'Nombre de points pour une bonne réponse', { 'label_attr' : { 'class' : 'col-5' } }) }}
                <i id="js-random-point-1" class="random fas fa-random"></i>
                {{ form_widget(questionFormulaire.nbPointsBonneReponse, {'attr' : { 'class' : 'ml-2'} }) }}
                <span class="px-2">points</span>
                {{ form_help(questionFormulaire.nbPointsBonneReponse, {'help_attr' : { 'class' : 'text-success'}}) }}
            </div>
            <div class="row my-2">
                {{ form_label(questionFormulaire.nbPointsMauvaiseReponse, 'Nombre de points pour une mauvaise réponse', { 'label_attr' : { 'class' : 'col-5' } }) }}
                <i id="js-random-point-2" class="random fas fa-random"></i>
                {{ form_widget(questionFormulaire.nbPointsMauvaiseReponse, {'attr' : { 'class' : 'ml-2'} }) }}
                <span class="px-2">points</span>
                {{ form_help(questionFormulaire.nbPointsMauvaiseReponse, {'help_attr' : { 'class' : 'text-danger'}}) }}
            </div>
        </div>

        {{ form_row(questionFormulaire.quiz) }}
        {{ form_row(questionFormulaire.valider, {'attr' : { 'class' : 'btn btn-primary '} }) }}
        {{ form_end(questionFormulaire) }}
    </div>

    <div class="col text-center">
        <button id="addQuestion" class="btn btn-primary addButton">Ajouter une question</button>
    </div>
    {# fin bloc question #}

{% endblock %}
