{% extends 'base.html.twig' %}

{% block title %}Tous les quiz disponibles
{% endblock %}

{% block body %}
	<h1 class="title text-center m">Les quiz disponibles</h1>

	<div class="list-group text-break">
		{% for quiz in lesQuiz %}
			<a class="list-group-item list-group-item-action" href="{{ path('quiz_afficherQuiz', {'idQuiz' : quiz.id}) }}">
				{{ quiz.intitule|trimLong(40) }}

				<span class="font-italic float-right">
					Créé par
					<span class="font-weight-bold">{{ quiz.utilisateurCreateur.prenom ~ ' ' ~ quiz.utilisateurCreateur.nom }}</span>
				</span>
			</a>
		{% endfor %}
	</div>

	{% if lesQuiz is empty %}
		<div class="alert alert-warning col-lg-6 mx-auto mt-3" role="alert">
			<div class="text-center px-2">Aucun quiz n'est disponible pour le moment.</div>
		</div>
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('quiz_js') }}
{% endblock %}
