{% extends 'base.html.twig' %}

{% block title %}Mes quiz
{% endblock %}

{% block body %}
	<h1 class="title text-center mb-4">Tous mes quiz créés</h1>

	{% if pagination is not empty %}
		<a class="btn btn-primary mx-auto d-block col-lg-3 mb-4" href=" {{ path('quiz_voirStatMesQuiz', {'idUser' : app.user.id} ) }}" role="button">
			Voir mes stats globales
		</a>
	{% endif %}

	<div class="list-group text-break">
		{% for unQuiz in pagination %}
			<div class="row">
				<div class="col-lg-10">
					<a title="Faire le quiz" href="{{ path("quiz_afficherQuiz", { 'idQuiz' : unQuiz.id }) }}" class="list-group-item list-group-item-action">
						{{ unQuiz.intitule|trimLong(40) }}
					</a>
				</div>

				<div class="row col-lg-2 m-auto pt-lg-0 pt-2 pb-lg-0 pb-4">
					<div class="col text-center">
						<a href="{{ path("quiz_modifierQuiz", { 'idQuiz' : unQuiz.id }) }}">
							<i class="fas fa-pen" data-toggle="tooltip" data-placement="top" title="Modifier le quiz"></i>
						</a>
					</div>
					<div class="col text-center">
						<a class="text-danger supprimerQuiz" href="{{ path("quiz_deleteQuiz", { 'idQuiz' : unQuiz.id }) }}">
							<i class="fas fa-trash" data-toggle="tooltip" data-placement="top" title="Supprimer le quiz"></i>
						</a>
					</div>
					<div class="col text-center">
						<a class="text-info statQuiz" href="{{ path("quiz_voirStat", { 'idQuiz' : unQuiz.id }) }}">
							<i class="far fa-chart-bar" data-toggle="tooltip" data-placement="top" title="Statistiques du quiz"></i>
						</a>
					</div>
				</div>
			</div>
		{% endfor %}

		{% if pagination is empty %}
			<div class="alert alert-secondary mx-auto col-lg-6" role="alert">
				<div class="text-center">Vous n'avez pas encore créé de quiz.</div>
			</div>

			<a class="btn btn-secondary col-lg-4 mx-auto" href="{{ path('quiz_creerQuiz') }}" role="button">Créer un quiz maintenant</a>
		{% endif %}

		{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('quiz_js') }}
{% endblock %}
